<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8"/>
    <title>Mon commerce</title>
    <link rel="stylesheet" href="https://gitcdn.link/repo/Chalarangelo/mini.css/master/dist/mini-default.min.css"/>
</head>
<body>
    <div th:replace="header::header"></div>

    <!-- @thymesVar id="company" type="com.pamproject.pamfidelity.entities.Company"-->
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-md-offset-1 col-lg-5">
                <figure>
                    <img th:src="'/img/' + ((null == ${company.getPictName()}) ? 'placeholder.png' : ${company.getPictName()})">
                </figure>
            </div>
            <div class="col-md-5 col-md-offset-1 col-lg-5">
                <div class="row">
                    <div class="col-lg-12">
                        <figure>
                            <img th:src="@{/img/staticMap.jpg}">
                        </figure>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 col-md-offset-1 col-lg-5">
                <t3 th:text="${company.getCompanyname()}"></t3> <br/>
                <div th:text="${company.getPresentation()}"></div>
            </div>
            <div class="col-md-5 col-md-offset-1 col-lg-5">
                <table>
                    <caption>Horaires</caption>
                    <thead>
                        <td><strong>Lundi</strong></td>
                        <td><strong>Mardi</strong></td>
                        <td><strong>Mercredi</strong></td>
                        <td><strong>Jeudi</strong></td>
                        <td><strong>Vendredi</strong></td>
                        <td><strong>Samedi</strong></td>
                        <td><strong>Dimanche</strong></td>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Fermé</td>
                            <td>10h-13h</td>
                            <td>10h-13h</td>
                            <td>10h-13h</td>
                            <td>10h-13h</td>
                            <td>10h-13h</td>
                            <td>Fermé</td>
                        </tr>
                        <tr>
                            <td>Fermé</td>
                            <td>14h-19h</td>
                            <td>14h-19h</td>
                            <td>14h-19h</td>
                            <td>14h-19h</td>
                            <td>14h-19h</td>
                            <td>Fermé</td>
                        </tr>
                    </tbody>
                </table>
                <div>
                    <ul>
                        <li>Adresse mail : <span th:text="${company.getEmail()}"></span></li>
                        <li>Site internet : <span th:text="${company.getWebsite()}"></span></li>
                        <li>Téléphone : <span th:text="${company.getTelephone()}"></span></li>
                        <li>Fax : <span th:text="${company.getFax()}"></span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>
</html>