<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Inscription d'un client</title>
    <link rel="stylesheet" href="https://gitcdn.link/repo/Chalarangelo/mini.css/master/dist/mini-default.min.css"/>
</head>
<body>
<div th:replace="header::header"></div>

<div class="container">
    <div class="row">
        <div class="col-sm"></div>
        <div class="col-sm-12 col-md-12 col-lg-8"
             style="height: calc(120vh - 10.25rem); display: flex; align-items: center; flex: 0 1 auto;">
            <form action="#" th:action="@{${'/company/credit/'+idCustomer}}" th:object="${transactionForm}" method="post">
                <fieldset>
                    <legend th:text="${'Créditer le compte du client '+customerName}"></legend>
                    <div th:if="${true}" class="input-group fluid">
                        <label for="amount" style="width: 100px;">Montant de l'achat </label>
                        <input type="number" name="amount" id="amount" min="0" th:field="*{amount}"/>
                    </div>
                    <div th:if="${false}" class="input-group fluid">
                        <input type="number" name="amount" id="amount2" min="0" th:field="*{amount}"/>
                    </div>
                    <div th:if="${#fields.hasErrors('amount')}" class="input-group fluid">
                        <mark class="secondary" th:errors="*{amount}"></mark>
                    </div>
                    <div class="input-group fluid">
                        <button class="primary">Créditer</button>
                    </div>
                </fieldset>
            </form>
        </div>
        <div class="col-sm"></div>
    </div>
</div>
</body>
</html>