<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8"/>
    <title>Clients</title>
    <link rel="stylesheet" href="https://gitcdn.link/repo/Chalarangelo/mini.css/master/dist/mini-default.min.css"/>
</head>

<body>
    <div th:replace="header::header"></div>

    <!-- @thymesVar id="customer" type="com.pamproject.pamfidelity.entities.Customer"-->
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
                <form action="#" th:action="@{customers}" method="get">
                    <div class="input-group fluid">
                        <input width="max" type="text" name="pattern" placeholder="Recherche" style="text-align: center;"/>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
                <a class="button" th:href="@{/company/addCustomer}">Ajouter un client</a>
                <table class="scrollable">
                    <thead>
                        <th><strong>Nom</strong></th>
                        <th><strong>Email</strong></th>
                        <th><strong>Téléphone</strong></th>
                        <th><strong>Actions</strong></th>
                    </thead>
                    <tbody>
                        <tr th:each="customer: ${customers}">
                            <td>
                                <a th:href="@{${'/company/customerDetails/'+customer.id}}" th:text="${customer.firstName + ' ' + customer.lastName}"></a>
                            </td>
                            <td th:text="${customer.emailAddress}"></td>
                            <td th:text="${customer.phoneNumber}"></td>
                            <td>
                                <a th:if="${hasFidelityPlan}" class="button" th:href="@{${'/company/credit/'+customer.id}}">Créditer</a>
                                <span th:if="${!hasFidelityPlan}">L'entreprise n'a pas de plan de fidelité.</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script type="text/javascript" th:src="@{/customersList.js}"/>

</body>
</html>