<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8"/>
    <title>Clients</title>
    <link rel="stylesheet" href="https://gitcdn.link/repo/Chalarangelo/mini.css/master/dist/mini-default.min.css"/>
</head>

<body>
<div th:replace="header::header"></div>

<div class="container">
    <div class="row">
        <div class="col-sm"></div>
        <div class="col-sm-12 col-md-12 col-lg-8"
             style="height: calc(90vh - 10.25rem); display: flex; align-items: center; flex: 0 1 auto;">
                <fieldset>
                    <legend th:text="${'Coordonnées du client'}"></legend>

                    <div class="input-group fluid">
                        <label for="name" style="width: 100px;">Nom</label>
                        <input type="text" name="name" id="name" th:value="${customerName}" readonly/>
                    </div>

                    <div class="input-group fluid">
                        <label for="email" style="width: 100px;">Email </label>
                        <input type="text" name="email" id="email" th:value="${customer.emailAddress}" readonly/>
                    </div>

                    <div class="input-group fluid">
                        <label for="phoneNumber" style="width: 100px;">Téléphone </label>
                        <input type="text" name="phoneNumber" id="phoneNumber" th:value="${customer.phoneNumber}" readonly/>
                    </div>

                    <div class="input-group fluid">
                        <label for="address" style="width: 100px;">Adresse </label>
                        <input type="text" name="address" id="address" th:value="${customer.address}" readonly/>
                    </div>

                    <div class="input-group fluid">
                        <button class="primary">Modifier coordonnées</button>
                        <a th:if="${hasFidelityPlan}" class="button" th:href="@{${'/company/credit/'+customer.id}}">Créditer</a>
                    </div>
                </fieldset>
        </div>
        <div class="col-sm"></div>
    </div>
    <div class="row">
        <div class="column-sm-12 col-md-6 col-md-offset-3 col-lg-8 col-lg-offset-2">
            <strong th:text="${'Transactions du client'}"></strong>
            <table class="scrollable">
                <thead>
                <th><strong>ID</strong></th>
                <th><strong>Date</strong></th>
                <th><strong>Montant</strong></th>
                <th><strong>Montant cumulé</strong></th>
                </thead>
                <tbody>
                <tr th:each="transaction: ${transactions}">
                    <td th:text="${transaction.id}"></td>
                    <td th:text="${transaction.localDateTimeString()}"></td>
                    <td th:text="${transaction.amount}"></td>
                    <td th:text="${transaction.balance}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>