<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<body>
    <header th:fragment="header">
        <a href="#" class="logo" th:disabled="true">Fidelis</a>
        <a class="button" th:href="@{/company/customers}">Clients</a>
        <a class="button" th:href="@{/company/profile}">Mon commerce</a>
        <a class="button" th:href="@{/company/account}">Mon compte</a>
        <a class="button" th:href="@{/company/manageFidelityPlan}">Mon plan de fidelité</a>
        <a class="button" th:href="@{/logout}">Se déconnecter</a>
    </header>

</body>

</html>