<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        lang="fr">

  <head>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content="fidelis"/>

    <title>Fidelis</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>

      <!-- Custom fonts for this template -->
   <!--/*<link th:href="@{/css/font-awesome.min.css}" rel="stylesheet" type="text/css"/>*/-->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'/>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'/>

    <!-- Plugin CSS -->
    <link th:href="@{/css/magnific-popup.css}" rel="stylesheet"/>

    <!-- Custom styles for this template -->
    <link th:href="@{/css/creative.min.css}" rel="stylesheet"/>

    <!-- style pour le formulaire de connexion -->
    <link th:href="@{/css/formulaire.css}" rel="stylesheet"/>

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Fidelis</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about">A propos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#seconnecter">Se connecter</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
            </li>
              <li class="nav-item">
                  <a class="nav-link js-scroll-trigger" href="#" th:href="@{/register}">Rejoindre Fidelis</a>
              </li>
          </ul>
        </div>
      </div>
    </nav>

    <header class="masthead text-center text-white d-flex">
      <div class="container my-auto">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <h1 class="text-uppercase" >
              <strong>Gestion de clientèle, progiciels de fidélité</strong>
            </h1>
            <hr style="color:white;"/>
          </div>
          <div class="col-lg-8 mx-auto">
            <p class="text-faded mb-5" style="font-weight:bold;">Fidelis est la solution qu'il vous faut pour gerer les cartes de fidelité de votre clientele et votre strategy marketing</p>
            <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">En savoir plus</a>
          </div>
        </div>
      </div>
    </header>

    <section class="bg-primary" id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading text-white">Fidélité de clientèle</h2>

            <p class="text-faded mb-4">La fidélité doit évoluer pour s’adapter aux clients et aux
commerces d’aujourd’hui. C’est-à-dire, que la gestion de la fidélisation de clients doit se dématérialiser pour que les
commerçants, les artisans ou même les petites entreprises puissent fidéliser leurs clients d’une façon plus efficace
et aussi pour que les clients soient plus à l’aise sans être obligés de transporter une carte de fidélité papier.</p>
 <p class="text-faded mb-4">Fidelis est une application dématérialisée de suivi fidélité. C'est un outil simple et moderne de gestion de la clientèle qui va permettre d’améliorer la façon de 	fidéliser les clients, le traitement des informations des consommations et la manière de faire de la publicité de leurs
produits et services.</p>
            <a class="btn btn-light btn-xl js-scroll-trigger" href="#seconnecter">Commencer!</a>
          </div>
        </div>
      </div>
    </section>

    <section id="seconnecter">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">

            <h1 class="text-center login-title">Se connecter à Fidelis</h1>
            <div class="account-wall">
                <img class="profile-img" src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120"
                    alt="">
                <form class="form-signin" th:action="@{/}" method="post">
                <input type="text" class="form-control" placeholder="Email" name="email" required autofocus/>
                <input type="password" class="form-control" placeholder="Password" name="password" required/>
                <button class="btn btn-lg btn-primary btn-block" type="submit">
                    Connexion</button>
                <div th:if="${param.error}">
                    <mark class="secondary">Combinaison email / mot de passe invalide.</mark>
                </div>
                <div th:if="${param.logout}">
                    <mark>Vous vous êtes déconnecté.</mark>
                </div>
                </form>
            </div>

       	  </div>

            <div class="col-lg-8 mx-auto text-center" style="margin-top: 10px;">
                <a class="btn btn-dark btn-xl js-scroll-trigger" href="#" th:href="@{/register}">Rejoindre Fidelis</a>
            </div>
        
          
        </div>
      </div>
    </section>

    <section class="bg-primary" id="contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading text-white">Entrons en contact!</h2>
            <hr class="my-4">
            <p class="text-faded mb-4">Prêt à commencer votre prochain projet avec nous ? C'est génial ! Appelez-nous ou envoyez-nous un e-mail et nous vous répondrons dans les plus brefs délais!</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 ml-auto text-center">
            <i class="fa fa-phone fa-3x mb-3 sr-contact"></i>
            <p class="text-faded mb-4">123-456-6789</p>
          </div>
          <div class="col-lg-4 mr-auto text-center">
            <i class="fa fa-envelope-o fa-3x mb-3 sr-contact"></i>
            <p class="text-faded mb-4">contact@fidelis.com</p>
          </div>
        </div>
      </div>
    </section>

    <!-- Bootstrap core JavaScript -->
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>

    <!-- Plugin JavaScript -->
    <script th:src="@{/js/jquery.easing.min.js}"></script>
    <script th:src="@{/js/scrollreveal.min.js}"></script>
    <script th:src="@{/js/jquery.magnific-popup.min.js}"></script>

    <!-- Custom scripts for this template -->
    <script th:src="@{/js/creative.min.js}"></script>

  </body>

</html>
