<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Inscription d'un client</title>
    <link rel="stylesheet" href="https://gitcdn.link/repo/Chalarangelo/mini.css/master/dist/mini-default.min.css"/>
</head>
<body>
<div th:replace="header::header"></div>

<div class="container">
    <div class="row">
        <div class="col-sm"></div>
        <div class="col-sm-12 col-md-12 col-lg-8"
             style="height: calc(120vh - 10.25rem); display: flex; align-items: center; flex: 0 1 auto;">
            <form action="#" th:action="@{/company/manageFidelityPlan}" th:object="${fidelityPlanForm}" method="post">
                <fieldset>
                    <legend>Plan de fidelité et seuil</legend>

                    <div class="input-group fluid">
                        <label for="fidelityPlanType" style="width: 100px;">Type de Plan </label>
                        <select th:field="*{fidelityPlanType}" name="fidelityPlanType" id ="fidelityPlanType">
                            <option th:each="type : ${allTypes}"
                                    th:value="${type.name()}"
                                    th:text="${type.getLabel()}">Type
                            </option>
                        </select>
                    </div>
                    <div th:if="${#fields.hasErrors('fidelityPlanType')}" class="input-group fluid">
                        <mark class="secondary" th:errors="*{fidelityPlanType}"></mark>
                    </div>

                    <div class="input-group fluid">
                        <label for="threshold" id="threshold-label" style="width: 100px;">Montant d'achat</label>
                        <input type="number" name="threshold" id="threshold" min="0" th:field="*{threshold}"/>
                    </div>
                    <div th:if="${#fields.hasErrors('threshold')}" class="input-group fluid">
                        <mark class="secondary" th:errors="*{threshold}"></mark>
                    </div>

                    <div class="input-group fluid">
                        <label for="reward" id="reward-label" style="width: 100px;">Cadeau(Montant)</label>
                        <input type="number" name="reward" id="reward" min="0" th:field="*{reward}"/>
                    </div>
                    <div th:if="${#fields.hasErrors('reward')}" class="input-group fluid">
                        <mark class="secondary" th:errors="*{reward}"></mark>
                    </div>

                    <div class="input-group fluid">
                        <button class="primary">Enregistrer</button>
                    </div>
                </fieldset>
            </form>
        </div>
        <div class="col-sm"></div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script th:src="@{/js/manageFidelityPlan.js}"></script>
</body>

</html>