<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Inscription</title>
    <link rel="stylesheet" href="https://gitcdn.link/repo/Chalarangelo/mini.css/master/dist/mini-default.min.css"/>
</head>



<body>

    <header class="sticky row">
        <div class="col-sm col-md-10 col-md-offset-1">
            <a class="button" th:href="@{/}">Retour</a>
        </div>
    </header>

    <div class="container">
        <div class="row">
            <div class="col-sm"></div>
            <div class="col-sm-12 col-md-12 col-lg-8"
                 style="height: calc(100vh - 10.25rem); display: flex; align-items: center; flex: 0 1 auto;">
                <form action="#" th:action="@{/register}" th:object="${registerForm}" method="post">
                    <fieldset>
                        <legend>S'inscrire</legend>
                        <div class="input-group fluid">
                            <label for="email" style="width: 100px;">Email </label>
                            <input type="email" name="email" id="email" th:field="*{email}" placeholder="xxxxx@yyyy.zz"/>
                        </div>
                        <div th:if="${#fields.hasErrors('email')}" class="input-group fluid">
                            <mark class="secondary" th:errors="*{email}"></mark>
                        </div>

                        <div class="input-group fluid">
                            <label for="password" style="width: 100px;">Mot de passe </label>
                            <input type="password" name="password" id="password" th:field="*{password}" placeholder="•••••"/>
                        </div>
                        <div th:if="${#fields.hasErrors('password')}" class="input-group fluid">
                            <mark class="secondary" th:errors="*{password}"></mark>
                        </div>

                        <div class="input-group fluid">
                            <label for="confirm" style="width:100px;">Confirmer le mot de passe </label>
                            <input type="password" name="confirm" id="confirm" th:field="*{confirm}" placeholder="•••••"/>
                        </div>
                        <div th:if="${#fields.hasErrors('confirm')}" class="input-group fluid">
                            <mark class="secondary" th:errors="*{confirm}"></mark>
                        </div>
                        &nbsp;
                        <div class="input-group fluid">
                            <label for="companyname" style="width: 100px;">Nom de l'entreprise </label>
                            <input type="text" name="companyname" id="companyname" th:field="*{companyname}" placeholder="nom"/>
                        </div>
                        <div th:if="${#fields.hasErrors('companyname')}" class="input-group fluid">
                            <mark class="secondary" th:errors="*{companyname}"></mark>
                        </div>

                        <div class="input-group fluid">
                            <label for="address" style="width: 100px;">Adresse de l'entreprise </label>
                            <input type="text" name="address" id="address" th:field="*{address}" placeholder="adresse"/>
                        </div>
                        <div th:if="${#fields.hasErrors('address')}" class="input-group fluid">
                            <mark class="secondary" th:errors="*{address}"></mark>
                        </div>

                        <div class="input-group fluid">
                            <label for="telephone" style="width: 100px;">Numéro de téléphone </label>
                            <input type="tel" name="telephone" id="telephone" th:field="*{telephone}" placeholder=""/>
                        </div>
                        <div th:if="${#fields.hasErrors('telephone')}" class="input-group fluid">
                            <mark class="secondary" th:errors="*{telephone}"></mark>
                        </div>

                        <div class="input-group fluid">
                            <a class="button" th:href="@{/login}">Se connecter</a>
                            <button class="primary">S'inscrire</button>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="col-sm"></div>
        </div>
    </div>

    <footer class="sticky">
        <p>Copyright &copy; Fidelis</p>
    </footer>
</body>
</html>